################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/La-torre-di-babele/bin/Debug
/La-torre-di-babele/obj
/La-torre-di-babele/Platforms/Android/Resources/values-it
/La-torre-di-babele/it_IT.xaml
/La-torre-di-babele/it_IT.xaml.cs
